* {
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error-message {
  color: red;
  font-size: 0.9rem;
}

.result-container {
  padding: 0.5rem 0;
  margin: 1rem 0;
}

.mb-2 {
  margin-bottom: 1rem;
}
